<html>
 <head>
  <title>
   Porcelanosa
  </title>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <style>
   body {
            font-family: 'Open Sans', sans-serif;
        }
        .navbar {
            background-color: #f8f9fa;
        }
        .navbar-light .navbar-nav .nav-link {
            color: #333;
        }
        .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
            color: #000;
        }
        .navbar-brand {
            font-weight: 700;
        }
        .card {
            border: none;
        }
        .card img {
            border-radius: 0;
        }
        .card-title {
            font-weight: 600;
        }
        .card-text {
            font-size: 0.9rem;
        }
        .footer {
            background-color: #f3f3f3;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .footer a {
            color: #333;
        }
        .footer a:hover {
            text-decoration: none;
        }
        .footer .fa-star {
            color: #ffc107;
        }
        .trustpilot-widget {
            margin-top: 1rem;
        }
  </style>
 </head>
 <body>
  <nav class="navbar navbar-expand-lg navbar-light">
   <div class="container">
    <a class="navbar-brand" href="#">
     PORCELANOSA
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
      <li class="nav-item">
       <a class="nav-link active" href="tiles.html">
        Tiles
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Mosaics
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Bathrooms
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Kitchens
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Installation
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Other products
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Inspiration
       </a>
      </li>
     </ul>
    </div>
   </div>
  </nav>
  <div class="container mt-4">
   <div class="row">
    <div class="col-12">
     <h2 class="text-center">
      Highest quality tiles, mosaics, bathroom and kitchen solutions for each home
     </h2>
    </div>
   </div>
   <div class="row mt-4">
    <div class="col-md-4">
     <div class="card">
      <img alt="Placeholder image of a modern bathroom with a sink and mirror" class="card-img-top" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-TqYdrXXSr8mgY2fdSKieTRRs.png?st=2024-03-10T09%3A26%3A30Z&amp;se=2024-03-10T11%3A26%3A30Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-10T03%3A26%3A31Z&amp;ske=2024-03-11T03%3A26%3A31Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=BoTKfc4GzzJsajkmi5OfJt6dSWa%2BWuHw1ktPEIHaY70%3D" width="600"/>
      <div class="card-body">
       <h5 class="card-title">
        Bathrooms
       </h5>
      </div>
     </div>
    </div>
    <div class="col-md-4">
     <div class="card">
      <img alt="Placeholder image of a stylish kitchen with bar stools and pendant lights" class="card-img-top" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-Wcxtx3qiMcugjLePIi0Y7dXi.png?st=2024-03-10T09%3A26%3A30Z&amp;se=2024-03-10T11%3A26%3A30Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T18%3A29%3A55Z&amp;ske=2024-03-10T18%3A29%3A55Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=vSX9I5pRpD24mJ7UW70HXphXoIK9X0cIooO9v4za/D4%3D" width="600"/>
      <div class="card-body">
       <h5 class="card-title">
        Kitchens
       </h5>
      </div>
     </div>
    </div>
    <div class="col-md-4">
     <div class="card">
      <img alt="Placeholder image of elegant wall tiles with intricate designs" class="card-img-top" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-2i80SfVlIl5kG0H9pJLO7mCY.png?st=2024-03-10T09%3A26%3A33Z&amp;se=2024-03-10T11%3A26%3A33Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T18%3A11%3A40Z&amp;ske=2024-03-10T18%3A11%3A40Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=JHcLo27sMvJcCJtxVLR0STeL3plTR28y4Kmfgje5pkc%3D" width="600"/>
      <div class="card-body">
       <h5 class="card-title">
        Tiles
       </h5>
      </div>
     </div>
    </div>
   </div>
   <div class="row mt-4">
    <div class="col-md-4">
     <div class="card">
      <img alt="Placeholder image of various mosaic tiles in different textures and colors" class="card-img-top" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-Nzek0nySWov8jNxgB5noF1bn.png?st=2024-03-10T09%3A26%3A35Z&amp;se=2024-03-10T11%3A26%3A35Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T18%3A18%3A49Z&amp;ske=2024-03-10T18%3A18%3A49Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=KKcynaJoThNj5SaIqhqmKpuKpf5weYwAxRlsB4xJrIo%3D" width="600"/>
      <div class="card-body">
       <h5 class="card-title">
        Mosaics
       </h5>
      </div>
     </div>
    </div>
    <div class="col-md-4">
     <div class="card">
      <img alt="Placeholder image of a cozy room with a vinyl tile floor" class="card-img-top" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-lZM2hXbapIpJzDAxL5aEde8m.png?st=2024-03-10T09%3A26%3A31Z&amp;se=2024-03-10T11%3A26%3A31Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-10T03%3A19%3A12Z&amp;ske=2024-03-11T03%3A19%3A12Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=jIqialL1u7rUrYXnM/IPtqFF/aP6Lxzl9UJX2FFxyQ8%3D" width="600"/>
      <div class="card-body">
       <h5 class="card-title">
        Vinyl Tiles
       </h5>
      </div>
     </div>
    </div>
   </div>
   <div class="row mt-5">
    <div class="col-12">
     <h2 class="text-center">
      See our products in real homes
     </h2>
     <p class="text-center">
      Tag or mention @porcelanosa if you want to be featured in our gallery.
     </p>
    </div>
   </div>
   <div class="row mt-4">
    <!-- Placeholder for gallery images -->
    <!-- Repeat this block for each image in the gallery -->
    <div class="col-md-3">
     <div class="card">
      <img alt="Placeholder image of a living room with modern furniture and decor" class="card-img-top" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-3yjKvQRMO1h78OPmar9PmFpR.png?st=2024-03-10T09%3A26%3A34Z&amp;se=2024-03-10T11%3A26%3A34Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T18%3A27%3A01Z&amp;ske=2024-03-10T18%3A27%3A01Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=QLATGbs1WO%2BccyGZzzp7Vs6k%2Bv7l61tf/CLGLGg4Q6M%3D" width="600"/>
     </div>
    </div>
    <!-- Repeat ends here -->
   </div>
   <div class="row mt-5">
    <div class="col-12">
     <h2 class="text-center">
      We help you designing the room of your dreams
     </h2>
     <p class="text-center">
      Do you have questions about your project? Make a free appointment to discuss your ideas, either in-store or with a remote consultation, at any time. We're always happy to help and want the consultation to be convenient.
     </p>
     <p class="text-center">
      With our specialist advisory service you will find the help and advice you need to make the room of your dreams come true.
     </p>
     <div class="d-flex justify-content-center">
      <a class="btn btn-primary" href="#">
       Book an appointment
      </a>
     </div>
    </div>
   </div>
   <div class="row mt-5">
    <div class="col-12">
     <h2 class="text-center">
      Rated Excellent by you
     </h2>
     <p class="text-center">
      Just ask our customers about our designs and service.
     </p>
    </div>
   </div>
   <div class="row mt-4">
    <div class="col-12">
     <!-- Placeholder for Trustpilot widget -->
     <div class="trustpilot-widget">
      <p>
       TrustScore 4.2 | 3,474 reviews
      </p>
     </div>
    </div>
   </div>
  </div>
  <footer class="footer mt-5">
   <div class="container">
    <div class="row">
     <div class="col-12">
      <div class="d-flex justify-content-between">
       <div>
        <p>
         Secure payment
        </p>
       </div>
       <div>
        <p>
         Curbside delivery
        </p>
       </div>
       <div>
        <p>
         After-sales service
        </p>
       </div>
      </div>
     </div>
    </div>
    <div class="row mt-4">
     <div class="col-12">
      <div class="d-flex justify-content-between">
       <div>
        <p>
         NEWSLETTER
        </p>
        <form>
         <input placeholder="Email" type="email"/>
         <button type="submit">
          SEND
         </button>
        </form>
       </div>
       <div>
        <p>
         Trustpilot
        </p>
        <p>
         TrustScore 4.2 | 3,474 reviews
        </p>
       </div>
      </div>
     </div>
    </div>
    <div class="row mt-4">
     <div class="col-12">
      <div class="d-flex justify-content-between">
       <div>
        <p>
         CUSTOMER CARE
        </p>
       </div>
       <div>
        <p>
         ABOUT US
        </p>
       </div>
       <div>
        <p>
         INSPIRATION
        </p>
       </div>
       <div>
        <p>
         PRODUCT CATEGORIES
        </p>
       </div>
      </div>
     </div>
    </div>
    <div class="row mt-4">
     <div class="col-12">
      <div class="d-flex justify-content-between">
       <div>
        <p>
         © 2023 Porcelanosa Group
        </p>
       </div>
       <div>
        <p>
         PORCELANOSA Grupo
        </p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </footer>
 </body>
</html>
