<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Porcelanosa
  </title>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <style>
   body {
            font-family: 'Open Sans', sans-serif;
        }
        .navbar {
            background-color: #f8f9fa;
        }
        .navbar-light .navbar-nav .nav-link {
            color: rgba(0,0,0,.5);
        }
        .navbar-light .navbar-nav .nav-link:hover {
            color: rgba(0,0,0,.7);
        }
        .navbar-brand {
            font-weight: 600;
        }
        .product-grid {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .product-grid h2 {
            font-weight: 600;
            margin-bottom: 30px;
        }
        .product-item {
            margin-bottom: 30px;
        }
        .product-item img {
            width: 100%;
            height: auto;
        }
        .product-item h5 {
            font-weight: 600;
            margin-top: 15px;
        }
        .footer {
            background-color: #343a40;
            color: white;
            padding: 30px 0;
        }
        .footer a {
            color: #6c757d;
            text-decoration: none;
        }
        .footer a:hover {
            color: #fff;
            text-decoration: none;
        }
        .footer .fa-star {
            color: #ffc107;
        }
  </style>
 </head>
 <body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light">
   <div class="container">
    <a class="navbar-brand" href="#">
     PORCELANOSA
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ml-auto">
      <li class="nav-item">
       <a class="nav-link" href="#">
        Tiles
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Mosaics
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Bathrooms
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Kitchens
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Installation
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Other products
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">
        Inspiration
       </a>
      </li>
     </ul>
    </div>
   </div>
  </nav>
  <!-- Product Grid -->
  <div class="container product-grid">
   <h2>
    Tiles
   </h2>
   <div class="row">
    <!-- Product Item -->
    <div class="col-md-4 product-item">
     <img alt="Placeholder image of ADDA tile collection in a modern living room setting" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-TMCuC7Vr1DLmdIhrqtxNfjWu.png?st=2024-03-10T09%3A44%3A21Z&amp;se=2024-03-10T11%3A44%3A21Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T18%3A20%3A12Z&amp;ske=2024-03-10T18%3A20%3A12Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=e8mtqCoyoxzjU3EQKvQHtFhtJfHMZYPQlvydbI4c4pY%3D" width="600"/>
     <h5>
      ADDA
     </h5>
    </div>
    <!-- Product Item -->
    <div class="col-md-4 product-item">
     <img alt="Placeholder image of ANTIQUE tile collection in a bathroom setting" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-niMxDqaiHZieUDhucOmmaf3S.png?st=2024-03-10T09%3A44%3A18Z&amp;se=2024-03-10T11%3A44%3A18Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T17%3A31%3A15Z&amp;ske=2024-03-10T17%3A31%3A15Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=AN8MKmzEI1t07rIMXknMxoApGghYRzhgqmF/yH7DD1w%3D" width="600"/>
     <h5>
      ANTIQUE
     </h5>
    </div>
    <!-- Product Item -->
    <div class="col-md-4 product-item">
     <img alt="Placeholder image of ARIZONA tile collection in a living room setting" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-NsLCQ6mfpN6hsWGXODvCYKK0.png?st=2024-03-10T09%3A44%3A18Z&amp;se=2024-03-10T11%3A44%3A18Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T15%3A36%3A15Z&amp;ske=2024-03-10T15%3A36%3A15Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=HtGWd5CpFqVwY/SQRVu9wmGKn9DOTomvZG0CHgn5F8c%3D" width="600"/>
     <h5>
      ARIZONA
     </h5>
    </div>
    <!-- Product Item -->
    <div class="col-md-4 product-item">
     <img alt="Placeholder image of ARTIC tile collection in a cozy living room setting" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-Ko7VqXKENHewQtaVXccXNutK.png?st=2024-03-10T09%3A44%3A18Z&amp;se=2024-03-10T11%3A44%3A18Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T18%3A20%3A07Z&amp;ske=2024-03-10T18%3A20%3A07Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=u28fVrASn5ed30RMFRDYYjFIfuOXY6dlrGkbfk/6xSA%3D" width="600"/>
     <h5>
      ARTIC
     </h5>
    </div>
    <!-- Product Item -->
    <div class="col-md-4 product-item">
     <img alt="Placeholder image of ASCOT tile collection in a stylish kitchen setting" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-Mdc0gsGY4q7XcoRx1vbVhS0f.png?st=2024-03-10T09%3A44%3A17Z&amp;se=2024-03-10T11%3A44%3A17Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T18%3A15%3A14Z&amp;ske=2024-03-10T18%3A15%3A14Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=LOyKBlLNHmSS5A3%2BYsF/mNpS61ucStRQXmzB2FbJCck%3D" width="600"/>
     <h5>
      ASCOT
     </h5>
    </div>
    <!-- Product Item -->
    <div class="col-md-4 product-item">
     <img alt="Placeholder image of AUSTIN tile collection in a modern bathroom setting" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-ObwjN4jHYmDPsYjYScfhpojV.png?st=2024-03-10T09%3A44%3A21Z&amp;se=2024-03-10T11%3A44%3A21Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-10T09%3A41%3A39Z&amp;ske=2024-03-11T09%3A41%3A39Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=barS6sfeV6uTOAHsIyrdPfPMEwSyCcvRsxEwG5lmH8k%3D" width="600"/>
     <h5>
      AUSTIN
     </h5>
    </div>
    <!-- Product Item -->
    <div class="col-md-4 product-item">
     <img alt="Placeholder image of AVENUE tile collection in a living room with a sofa and coffee table" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-qLVla8Qq28tPOr4WjU9z5pjI.png?st=2024-03-10T09%3A44%3A21Z&amp;se=2024-03-10T11%3A44%3A21Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T18%3A17%3A36Z&amp;ske=2024-03-10T18%3A17%3A36Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=moei7qWABxeMfWW7sWFZaLusHI/YRVCVdhp3qj3inKg%3D" width="600"/>
     <h5>
      AVENUE
     </h5>
    </div>
    <!-- Product Item -->
    <div class="col-md-4 product-item">
     <img alt="Placeholder image of BALTIC tile collection in a modern kitchen setting" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-yPYiypta3NP3xe7fxeNnLuPL.png?st=2024-03-10T09%3A44%3A20Z&amp;se=2024-03-10T11%3A44%3A20Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T18%3A21%3A53Z&amp;ske=2024-03-10T18%3A21%3A53Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=uykcN4SZxltDyLGLB4gA2Rwj3hiUxiQY45puxlcV2gA%3D" width="600"/>
     <h5>
      BALTIC
     </h5>
    </div>
    <!-- Product Item -->
    <div class="col-md-4 product-item">
     <img alt="Placeholder image of BALTIMORE tile collection in a contemporary bathroom setting" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-kvQvKxy8EiBWypiJBUcy7SR1.png?st=2024-03-10T09%3A44%3A21Z&amp;se=2024-03-10T11%3A44%3A21Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T21%3A31%3A18Z&amp;ske=2024-03-10T21%3A31%3A18Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=URW8/RWWu5ITGI42VZcpK/4wSjmsDbym9rRWWL8xO/Q%3D" width="600"/>
     <h5>
      BALTIMORE
     </h5>
    </div>
    <!-- Product Item -->
    <div class="col-md-4 product-item">
     <img alt="Placeholder image of BARCELONA tile collection in a modern bathroom setting" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-UsG0Vyp4dsrgpoekiqeaQkyL.png?st=2024-03-10T09%3A44%3A18Z&amp;se=2024-03-10T11%3A44%3A18Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T18%3A14%3A45Z&amp;ske=2024-03-10T18%3A14%3A45Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=xczxfwCOjfpNUk6Teb8fqasUMbDh4P%2BgyniJzlV2vgE%3D" width="600"/>
     <h5>
      BARCELONA
     </h5>
    </div>
    <!-- Product Item -->
    <div class="col-md-4 product-item">
     <img alt="Placeholder image of BERNA tile collection in a spacious living room setting" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-tl6YG0fDEbOacBxRqvamomsF.png?st=2024-03-10T09%3A44%3A19Z&amp;se=2024-03-10T11%3A44%3A19Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T18%3A13%3A04Z&amp;ske=2024-03-10T18%3A13%3A04Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=nvTCMo2luWtolSPnTvTVtF7gHtmneBpW8obl0fxMDNg%3D" width="600"/>
     <h5>
      BERNA
     </h5>
    </div>
    <!-- Product Item -->
    <div class="col-md-4 product-item">
     <img alt="Placeholder image of BOSTON tile collection in a bedroom with a large bed and nightstands" height="400" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-sSsOulEoQY3dXtF2RiaK66Ja/user-XZ7Av8ZH1bvGvI0GdH7WwbAs/img-vyKIX2qvXD94Axo05z0AHZOp.png?st=2024-03-10T09%3A44%3A18Z&amp;se=2024-03-10T11%3A44%3A18Z&amp;sp=r&amp;sv=2021-08-06&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-03-09T12%3A20%3A17Z&amp;ske=2024-03-10T12%3A20%3A17Z&amp;sks=b&amp;skv=2021-08-06&amp;sig=ypCt2uJb8WPMoxcZmr51bqXRUIq85onq0QXf1TyNMTw%3D" width="600"/>
     <h5>
      BOSTON
     </h5>
    </div>
   </div>
  </div>
  <!-- Footer -->
  <footer class="footer">
   <div class="container">
    <div class="row">
     <div class="col-md-4">
      <h5>
       NEWSLETTER
      </h5>
      <input class="form-control" placeholder="Email" type="email"/>
      <button class="btn btn-primary mt-2">
       SEND
      </button>
     </div>
     <div class="col-md-4">
      <h5>
       CUSTOMER CARE
      </h5>
      <!-- Customer care links -->
     </div>
     <div class="col-md-4">
      <h5>
       ABOUT US
      </h5>
      <!-- About us links -->
     </div>
    </div>
   </div>
  </footer>
 </body>
</html>
